<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>16/07/17 10:13:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DodavanjeIstrazivaca.setup()[pri:0, instance:rs.ac.uns.ftn.park.DodavanjeIstrazivaca@9629756]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>16/07/17 10:14:02</td>   <td>9590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DodavanjeIstrazivaca.uspesanLogin()[pri:1, instance:rs.ac.uns.ftn.park.DodavanjeIstrazivaca@9629756]">uspesanLogin</td> 
  <td>main@1379435698</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>16/07/17 10:14:05</td>   <td>12395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DodavanjeIstrazivaca.dodavanjeIstrazivaca()[pri:2, instance:rs.ac.uns.ftn.park.DodavanjeIstrazivaca@9629756]">dodavanjeIstrazivaca</td> 
  <td>main@1379435698</td>   <td></td> </tr>
</table>
